# folders

build/
.vscode/
.idea/
$RECYCLE.BIN/
.Trash-1000/

# system files

.DS_Store
Thumbs.db

# binaries

*.gba
*.elf
*.bin
*.exe
gba-wav-to-s3m-converter
gba-wav-to-s3m-converter.exe

# audio files

*.wav
*.raw
*.mod
*.s3m
*.xm
*.it

# miscelaneous
*.sav
*.map